<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
    <div>
        <h2>Update User</h2>
        <form action="#" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post">
            <div>
                <label for="name">Name</label>
                <input type="text" th:field="*{name}" id="name">
            </div>
            <div>
                <label for="lastName">LastName</label>
                <input type="text" th:field="*{lastName}" id="lastName">
            </div>
            <div>
                <label for="age">Age</label>
                <input type="text" th:field="*{age}" id="age">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" th:field="*{email}" id="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="text" th:field="*{password}" id="password">
            </div>
            <p>
            <li th:each="role : ${allRoles}">
                <label><input th:type="checkbox" th:name="${role}">
                    <span th:text="${role}"></span>
                </label>
            </li>
<!--                <label> Roles:-->
<!--                    <input type="checkbox" name="roles"-->
<!--                           th:each="role : ${allRoles}"-->
<!--                           th:text="${role.role}"-->
<!--                           th:value="${role.id}"-->
<!--                           th:field="*{roles}"-->
<!--                    />-->
<!--                </label>-->
            </p>
            <div>
                <input type="submit" value="Update User">
            </div>
        </form>
        <a th:href="@{/login}"><input type="submit" value="log out"></a>
    </div>
</body>
</html>